<!--Main Navigation-->
<header>
  <!--Main Navigation-->
  <!--Navbar-->
{{>header}}
  <!--/.Navbar-->

  <div class="view hm-black-strong" id="intro">
    <div class="mask flex-center rgba-black-strong">
      <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">

        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center">
            <h2 class="display-2 font-bold white-text mb-2">Travel</h2>
            <hr class="hr-light">
            <h5 class="white-text my-4">Make Your Life Better</h5>
            <button type="button" class="btn btn-outline-white" name="button">Read More <i class="fa fa-book ml-2"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>

</header>

<!--Main Layout-->
<main class="mt-5">
  <div class="container">
    <section id="best_features text-center">
      <h2 class="mb-4 font-weight-bold">Best Features</h2>
      <div class="row d-flex justify-content-center mb-4">
        <div class="col-md-10">
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
             minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui
             p ex ea commodo consequat.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-4">
          <i class="fa fa-camera-retro fa-3x orange-text"></i>
          <h4 class="my-4 font-weight-bold">Experience</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, cohjds hjadj jhsajsjklw  dgah lorem jsbdhg hsdba jhsd
          asdjkadkad jsadbasdg jasdhakd kjasbdakd jasdakd jasdba jasd akda kasdjh  asanskajshdk
          kjasd</p>
        </div>

        <div class="col-md-4 mb-4">
          <i class="fa fa-heart fa-3x orange-text"></i>
          <h4 class="my-4 font-weight-bold">Happiness</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, cohjds hjadj jhsajsjklw  dgah lorem jsbdhg hsdba jhsd
          asdjkadkad jsadbasdg jasdhakd kjasbdakd jasdakd jasdba jasd akda kasdjh  asanskajshdk
          kjasd</p>
        </div>

        <div class="col-md-4 mb-4">
          <i class="fa fa-bicycle fa-3x orange-text"></i>
          <h4 class="my-4 font-weight-bold">Adventure</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, cohjds hjadj jhsajsjklw  dgah lorem jsbdhg hsdba jhsd
          asdjkadkad jsadbasdg jasdhakd kjasbdakd jasdakd jasdba jasd akda kasdjh  asanskajshdk
          kjasd</p>
        </div>
      </div>

    </section>
    <hr class="my-5">

    <section id="examples">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(33).jpg" class="img-fluid" alt="">
            <div class="mask flex-center"></div>
            <h4 class="my-4 font-weight-bold "></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(12).jpg" class="img-fluid" alt="">
            <div class="mask flex-center"></div>
            <h4 class="my-4 font-weight-bold "></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(25).jpg" class="img-fluid" alt="">
            <div class="mask flex-center"></div>
            <h4 class="my-4 font-weight-bold "></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr</p>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(23).jpg" class="img-fluid" alt="">
            <div class="mask flex-center"></div>
            <h4 class="my-4 font-weight-bold "></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr</p>
          </div>


        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(19).jpg" class="img-fluid" alt="">
            <div class="mask flex-center"></div>
            <h4 class="my-4 font-weight-bold "></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(18).jpg" class="img-fluid" alt="">
            <div class="mask flex-center"></div>
            <h4 class="my-4 font-weight-bold "></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
               ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr</p>
          </div>
        </div>
      </div>
    </section>
    <hr class="my-5">

    <section id="gallery">
      <h2 class="mb-5 font-weight-bold text-center"></h2>
      <div class="row">
        <div class="col-md-6">

            <!--Carousel Wrapper-->
            <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(17).jpg" alt="First slide">
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(21).jpg" alt="Second slide">
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(27).jpg" alt="Third slide">
                    </div>
                    <!--/Third slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->

        </div>
        <div class="col-md-6">
          <a href="#" class="teal-text">
            <h6 class="pb-1"> <i class="fa fa-heart mr-2"></i> <strong>LifeStyle</strong> </h6>
          </a>
          <h4 class="mb-3"><strong>Very Long title</strong></h4>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim </p>

          <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim </p>
          <p>by <a href="#"><strong>Pasindu Navod</strong></a>,20.10.2015 </p>
              <a href="#" class="btn btn-indigo">Read More</a>
        </div>
      </div>
    </section>
    <hr class="my-5">

    <section id="contact">
      <h2 class="mb-5 text-weight-bold text-center">Contact Us</h2>
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <form class="p-5" action="index.html" method="post">
            <div class="md-form form-sm">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="input_1" class="form-control" name="" value="">
              <label >Your name</label>
            </div>

            <div class="md-form form-sm">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" id="input_2" class="form-control" name="" value="">
              <label >Your Email</label>
            </div>

            <div class="md-form form-sm">
              <i class="fa fa-tag prefix grey-text"></i>
              <input type="text" id="input_3" class="form-control" name="" value="">
              <label >Subjects</label>
            </div>

            <div class="md-form form-sm">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea type="text" id="input_4" class="md-textarea" name="" value=""></textarea>
              <label >Your Message</label>
            </div>

            <div class="text-center">
              <button type="button" class="btn btn-unique" name="button">Send <i class="fa fa-paper-plane-o ml-2"></i> </button>
            </div>
          </form>
        </div>

        <div class="col-lg-7 col-md-12">
          <div class="map-container" id="map-container" style="height:400px;border:1px solid silver;">

          </div>
        </div>
      </div>
    </section>
    <hr class="my-5">
  </div>
</main>

<!--Main Layout-->

<!--footer-->
{{>footer}}
<!--Footer-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
<script>
  function regular_map(){
    var var_location = new google.maps.LatLng(40.725118,-73.997699);
    var map_options={
      center:var_location,
      zoom:14
    }
    var var_map=new google.maps.Map(document.getElementById("map-container"),map_options);
    var var_marker = new google.maps.Marker({
      position:var_location,
      map:var_map,
      title:"New York"
    });

  }
  google.maps.event.addDomListener(window,'load',regular_map);
</script>
